<footer class="footer footer-margin">
<small>
    <strong><%= link_to "Github Page", :url => "https://github.com/Pangani/main-recipes" %></strong>
</small>
    <ul>
        <li><%= link_to "About", "#" %></li>
    </ul>
</footer>
